body{
    background-color: rgb(245, 242, 239);
}
.header{
    display: flex;
    justify-content:space-around;
    
}
.catchhub{
    height: 140px;
    padding: 0px 0px 0px 123px;
    margin-top: 60px;
}
.text-1{
    font-size:25px;
    padding: 0px 0px 0px 75px;
    margin-top: -20px;
}
.text-2{
    padding: 0px 0px 0px 123px;
    color: rgb(104, 106, 106);
    font-size: 23px;
    margin-top: -5px;

}
.phone-logos{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 123px;
    height: 60px;
    width:310px ;

}
.header-img{
    height:380px ;
    margin-top: 25px;
    margin-right: 20px;
    width: auto;

}
.section{
    display: flex;
    justify-content: space-around;
}
.section-img{
    padding: 0px 0px 0px 50px;
    height: 450px;
}
.section-text{
    margin-top: 100px;
}
.section-text1{
    padding: 0px 0px 0px 100px;
    font-size:x-large;
}
.section-text2{
margin-top:-20px ;
font-size: x-large;
padding: 0px 20px 0px 0px;
color: rgb(104, 106, 106);
}
.section-text3{
    margin-top:-40px ;
    font-size: x-large;
    padding: 0px 0px 0px 55px;
    color: rgb(104, 106, 106);
    
}
.main{
    display: flex;
    justify-content: space-around;
}
.maintext-all{
    padding: 130px;

}
.main-text1{
    padding: 0px 0px 0px 100px;
    font-size: x-large;
    font-weight: bold;
}
.main-text2{
    padding: 0px 0px 0px 50px;
    color: rgb(104, 106, 106);
    font-size: 25px;
    font-weight: 500;
    margin-top: -32px;
}
.main-text3{
    padding: 0px 0px 0px 20px;
    color: rgb(104, 106, 106);
    font-size: x-large;
    margin-top: -35px;

}
.main-tex4{
    padding: 0px 0px 0px 70px;
    color: rgb(104, 106, 106);
    margin-top: -38px;
    font-size: x-large;

}
.main-img{
    height: 400px;
    margin-top:12px ;
}
.article{
    display: flex;
    justify-content: space-around;

}
.article-img{
    height: 450px;
    padding: 0px 0px 0px 30px;
}
.article-logo{
    width:520px ;
    padding-right:190px ;
    margin-top:80px ;

}
.article-text1{
    padding: 0px 0px 0px 130px;
}
.footer{
    padding: 10px 10px 1px 350px;

}
.footer-logo{
    display: flex;
    gap: 20px;
    height: 60px;
    padding: 0px 0px 0px 10px ;
}
.contact{
    text-decoration: none;
    color: aqua;
}
.footer2-logo{
    padding:12px 23px 9px 95px ;
    width:130px ;
}